{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load has_tabs %}

{% block main_content %}

    <main role="main">
        <div class="bg-white border-bottom">
            <div class="container">

                {% include 'includes/breadcrumbs.html' %}
                <div class="row mb-4">
                    <div class="col-12 col-lg-8 col-xl-9 order-3 order-lg-2">
                        {% include 'includes/optional-introduction.html' with value=self %}
                    </div>
                    {% if self.feed_image %}
                    <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-3 text-lg-right mb-3 mb-lg-0">
                        {% image self.feed_image original as feed_image %}
                        <img src="{{ feed_image.url }}" alt="{{ self.feed_image.title }}" class="thumb-img border border-primary">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters align-items-stretch justify-content-between">
                <div class="col-12 col-lg-8 col-xl-9 pt-3 pt-lg-5">
                    {% if self.key_info or self.in_depth %}
                    <div class="no-js-hide u-max-text-width pr-lg-3">
                        {% has_tabs self.key_info self.in_depth as show_tabs %}
                        {% if show_tabs %}
                        <ul class="nav nav-tabs text-uppercase text-center" id="tabs" role="tablist" aria-owns="key-info-tab in-depth-tab">
                            <li class="nav-item flex-grow-1" role="presentation">
                                <a class="nav-link active" id="key-info-tab" data-toggle="tab" href="#key-info" role="tab"
                                    aria-controls="key-info" aria-selected="true">Key Info</a>
                            </li>
                            <li class="nav-item flex-grow-1" role="presentation">
                                <a class="nav-link" id="in-depth-tab" data-toggle="tab" href="#in-depth" role="tab" aria-controls="in-depth"
                                    aria-selected="false">In Depth</a>
                            </li>
                        </ul>
                        {% endif %}
                    
                        <div class="mb-3">
                            <div class="{% if show_tabs %}mb-3 tab-content bg-white border border-top-0{% endif %}">
                                {% if self.key_info %}
                                <div id="key-info" class="{% if show_tabs %} tab-pane fade show active p-3" tabindex="0" role="tabpanel"
                                    aria-labelledby="key-info-tab{% endif %}">
                                    {{ self.key_info|safe }}
                                </div>
                                {% endif %}
                    
                                {% if self.in_depth %}
                                <div id="in-depth" class="{% if show_tabs %} tab-pane fade p-3" role="tabpanel"
                                    aria-labelledby="in-depth-tab{% endif %}">
                                    {{ self.in_depth|safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <noscript>
                        {% if self.key_info %}{{ self.key_info|safe }}{% endif %}
                        {% if self.in_depth %}{{ self.in_depth|safe }}{% endif %}
                    </noscript>

                    <div class="d-none d-lg-block">
                        {% include "includes/highlight.html" %}
                    </div>
                </div>
                {% include "includes/row_siblings_in_section.html" with page=self %}
            </div>
            
        </div>
        <div class="d-lg-none">
            {% include "includes/highlight.html" %}
        </div>
    </main>


{% endblock main_content %}

