{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block main_content %}
  <div class="body-white rule-blue">
    <div class="sml-container center">
      {% include 'includes/breadcrumbs.html' %}
      <h1 class="center-div">{{ self.title }}</h1>
      <p class="intro center-div">{{ self.introduction }}</p>
      {% include 'includes/social_fields.html' %}
    </div>
  </div>

  {# primary topics #}
  <div class="body-colour">
    <ul class="topic-list">
      {% for primary_topic in self.primary_topics %}
        <li>
            <a href="{% pageurl primary_topic %}">
                <div class="container body">
                    {% if primary_topic.feed_image %}
                        <div class="img-holder">
                            {% image primary_topic.feed_image original as feed_image %}
                            <img src="{{ feed_image.url }}" alt="{{ primary_topic.feed_image.title }}">
                        </div>
                    {% endif %}
                    <div class="text-holder">
                        <h2>{{ primary_topic.title }}</h2>
                        <p>{{ primary_topic.feed_text }}</p>
                    </div>
                </div>
            </a>
        </li>
      {% endfor %}
    </ul>
  </div>


{% endblock main_content %}
