// Overriding IETF base themes and bootstrap.

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

$grid-breakpoints: (
    xs: 0,
    sm: 440px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

p {
    //same as _reboot.scss in bootstrap
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;

    //change margin to padding for last child, so the bottom space uses parent background color
    &:last-child {
        margin-bottom: 0;
        padding-bottom: $paragraph-margin-bottom;
    }
}

:root {
    --bs-body-font-family: 'Inter', Helvetica, arial, sans-serif;
}

// Adjust headings from BS defaults
@media (min-width:1200px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
        margin-bottom: 0.6rem;
    }
    
    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    
    h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}

.block-paragraph {
    h2 {
        font-size: 1.75rem;
        margin-bottom: 0.6rem;
    }
    
    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    
    h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}

// this unusual beast is created by Wagtail as an extension of h2 with a fixed margin-bottom.
.block-heading {
    margin-bottom: 0.6rem;
}
