// Overriding IEFT base themes and bootstrap.

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

$grid-breakpoints: (
    xs: 0,
    sm: 440px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
