.ui-datepicker-trigger {
    @extend .btn;
    @extend .btn-outline-dark;
    @extend .px-2;
    position: relative;
}

#ui-datepicker-div {
    padding: 1em;
    background-color: $white;
    border: 1px solid $primary;
    min-width: 17em;

    .ui-state-active {
        background-color: $primary;
        color: $white;
    }

    td a {
        display: block;
    }
    button {
        @extend .btn;
        @extend .btn-outline-primary;
    }
    .ui-state-highlight {
        outline: 2px solid $primary;
    }
}

.ui-datepicker-header {
    display: flex;
    justify-content: space-between;
}

.ui-datepicker-prev {
    order: 1;
}
.ui-datepicker-title {
    order: 2;
    margin-left: 1em;
}
.ui-datepicker-next {
    order: 3;
    margin-left: 1em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.ui-datepicker-calendar {
    min-width: 100%;
    text-align: center;
}

.ui-datepicker-buttonpane {
    text-align: right;
}
