@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2')
            format('woff2'),
        url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-bold-webfont.otf') format('otf'),
        url('../fonts/montserrat/montserrat-bold-webfont.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2')
            format('woff2'),
        url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-light-webfont.otf') format('otf'),
        url('../fonts/montserrat/montserrat-light-webfont.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-medium-webfont.woff2')
            format('woff2'),
        url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-medium-webfont.otf') format('otf'),
        url('../fonts/montserrat/montserrat-medium-webfont.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2')
            format('woff2'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff')
            format('woff'),
        url('../fonts/montserrat/montserrat-regular-webfont.otf') format('otf'),
        url('../fonts/montserrat/montserrat-regular-webfont.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased;
}
