// Color swatches:
$brand-blue: #3E96C8;
$blue: #0B8CC5;
$blue-2: #004F73;
$navy: #002D3C;
$yellow: #FFD13E;

$grey-1: #F7FAFC;
$grey-2: #F0F6FA;
$grey-3: #E6EDF2;
$grey-4: #D9E0E5;
$grey-5: #CBD2D6;


.h1-iab {
    max-width: 682px; 
    line-height: 1.09; 
    font-size: 2.75rem;
}

.btn-secondary-iab {
    background-color: $blue-2;
    border-radius: 4px;
    padding: 16px;

    &:hover {
        background-color: $navy;
    }
}

.home_page__jumbotron-iab {
    // copied
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        // second color is $brand-blue with 0% opacity
        background-image: linear-gradient(180deg, $brand-blue 17.96%, rgba(62, 150, 200, 0) 100%);
        // copied
        content: "";
        bottom: 0;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.bg-brand-blue-iab {
    --bs-bg-opacity: 1;
    background-color: $brand-blue !important;
}

.btn-brand-blue-navbar-iab {
    background-color: $brand-blue;
    border-radius: 4px;

    &:hover {
        background-color: $navy;
    }
}

.bg-navy-iab {
    --bs-bg-opacity: 1;
    background-color: $navy !important;
}

.logo-text-iab {
    max-width: 124px;
    font-size: 15px;
    line-height: 17px;
}

.navbar-text-iab {
    font-size: 14px;
    line-height: 16px;
}

.footer-link-iab {
    border-radius: 4px;

    &:hover {
        background-color: $blue-2;
    }
}