// Color swatches:
$brand-blue: #3E96C8;   // (62,150,200)
$blue: #0B8CC5;         // (11, 140, 97)
$blue-2: #004F73;       // (0, 79, 115)
$navy: #002D3C;         // (0, 45, 60)
$yellow: #FFD13E;       // (255, 209, 62)

$grey-1: #F7FAFC;       // (247, 250, 252)
$grey-2: #F0F6FA;       // (240, 246, 250)
$grey-3: #E6EDF2;       // (230, 237, 242)
$grey-4: #D9E0E5;       // (217, 224, 229)
$grey-5: #CBD2D6;       // (230, 210, 214)


.h1-iab {
    max-width: 682px; 
    line-height: 1.09; 
    font-size: 2.75rem;
}

.btn-secondary-iab {
    background-color: $blue-2;
    border-radius: 4px;
    padding: 16px;

    &:hover {
        background-color: $navy;
    }
}

.home_page__jumbotron-iab {
    // copied
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        // second color is $brand-blue with 0% opacity
        background-image: linear-gradient(180deg, $brand-blue 17.96%, rgba(62, 150, 200, 0) 100%);
        // copied
        content: "";
        bottom: 0;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.bg-brand-blue-iab {
    --bs-bg-opacity: 1;
    background-color: $brand-blue !important;
}

.btn-brand-blue-navbar-iab {
    background-color: $brand-blue;
    border-radius: 4px;

    &:hover {
        background-color: $navy;
    }
}

.bg-navy-iab {
    --bs-bg-opacity: 1;
    background-color: $navy !important;
}

.logo-text-iab {
    max-width: 124px;
    font-size: 15px;
    line-height: 17px;
}

.navbar-text-iab {
    font-size: 14px;
    line-height: 16px;
}

.footer-link-iab {
    border-radius: 4px;

    &:hover {
        background-color: $blue-2;
    }
}

.iab-blog-post {
    a {
        color: $brand-blue !important;
        &:hover {
            color: $blue-2 !important;
        }
    }
}

.card-text-iab {   
    font-size: 16px;
    line-height: 21px;
    /* or 131% */
    letter-spacing: 0.4px;
    font-weight: 300;
}

.date-text-iab {
    color: $navy;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.4px;
    font-weight: 300;
}