.thumb-img {
    width: 150px;
    height: 150px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 200px;
        height: 200px;
    }

    @include media-breakpoint-up(lg) {
        width: 270px;
        height: 270px;
    }
}
