@import './icons.scss';
@import './bootstrap-theme.scss';
@import './fonts.scss';
@import './pages.scss';
@import './components/index.scss';

body {
    font-family: 'montserrat', Helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'aktiv-grotesk', 'HelveticaNeue-Light', helvetica arial,
        sans-serif;
    font-weight: 400;
    font-variant-ligatures: no-common-ligatures;
}
