.block-heading {
    @extend h2;
    margin-bottom: 0.25em;
}

.block-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}

.block-paragraph {
    .rich-text {
        ul {
            max-width: 100%;
        }

        .richtext-image {
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }

    // Prevent floating images breaking page layout
    & + * {
        clear: both;
    }
}

$table-padding: 10px;
$border-colour: #e1e4e5;

.block-table {
    margin: 30px 0;
    // border: 1px solid $border-colour;

    @include media-breakpoint-up(sm) {
        margin: 50px 0;
        border: 0;
        width: calc(100% - 50px);
    }
}
.block-table,
.block-table__container {
    > table {
        width: 100%;
        display: table;

        @include media-breakpoint-up(sm) {
            width: calc(100% - 50px);
        }

        > tbody {
            width: 100%;
            background-color: $white;
        }

        > caption {
            caption-side: top;
            text-align: center;
            color: #666666;
        }
    }

    th,
    td {
        padding: $table-padding / 2;

        @include media-breakpoint-up(sm) {
            padding: $table-padding;
        }
    }

    td {
        border: 1px solid $border-colour;
    }

    tr {
        width: 100%;
    }

    th {
        border: 1px solid $border-colour;
        background-color: #f5f6f6;
        text-align: left;
    }
}
