@use 'sass:math';

.block-heading {
    @extend h2;
    margin-bottom: 0.25em;
}

.block-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}

.block-image .caption {
    margin-bottom: 1.5em;
    font-size: 14px;

    color: #666666;
}

.caption {
    // Undo space under images. Caption should sit close.
    margin-top: -1.3em;

    margin-bottom: 1.5em;
    font-size: 14px;
    color: #666666;
}

.block-paragraph {
    .rich-text {
        ul {
            max-width: 100%;
        }

        .richtext-image {
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }

    // Prevent floating images breaking page layout
    & + * {
        clear: both;
    }
}

$table-padding: 10px;
$border-colour: #bebebe;

.block-table,
.block-typed_table {
    margin: 30px 0;

    @include media-breakpoint-up(sm) {
        border: 0;
        max-width: 902px;
    }
}
.block-table,
.block-typed_table,
.block-table__container {
    > table {
        width: 100%;
        display: table;

        @include media-breakpoint-up(sm) {
            width: calc(100% - 50px);
        }

        > tbody {
            width: 100%;
            background-color: $white;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        > caption {
            margin-bottom: 1.5em;
            font-size: 14px;
            caption-side: top;
            text-align: center;
            color: #666666;
        }
    }

    th,
    td {
        padding: math.div($table-padding, 2);

        @include media-breakpoint-up(sm) {
            padding: $table-padding;
        }
    }

    td {
        border: 1px solid $border-colour;
    }

    tr {
        width: 100%;
    }

    th {
        border: 1px solid $border-colour;
        background-color: #f5f6f6;
        text-align: left;
    }
}
