.u-obj-cover {
    object-fit: cover;
}

.u-obj-contain {
    object-fit: contain;
}

// Use this to limit the width of text to improve readability
.u-max-text-width {
    max-width: 50rem;
}

.u-text-xs {
    font-size: 13px;
}

.fw-medium {
    font-weight: 500 !important;
}
.fw-semibold {
    font-weight: 600 !important;
}

.u-border-lg-bottom-0 {
    @include media-breakpoint-up(lg) {
        border-bottom: 0 !important;
    }
}
