.u-obj-cover {
    object-fit: cover;
}

.u-obj-contain {
    object-fit: contain;
}

// Use this to limit the width of text to improve readability
.u-max-text-width {
    max-width: 50rem;
}

.u-text-xs {
    font-size: 13px;
}
