<div 
    style="
        background-image: url('static/img/background-dark.jpg');
        height: 48px;
    "
></div>
<footer class="bg-navy-iab text-light py-3">
    <div class="container">
        <ul class="nav d-flex">
            {% for item in settings.utils.FooterLinks.footer_link_items.all %}
                <li class="navbar-text-iab footer-link-iab me-2"><a class="nav-link text-light" href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            <li class="navbar-text-iab footer-link-iab ms-auto p-2">
                <a href="https://twitter.com/intarchboard" rel="me">
                    <img src="/static/img/twitter-icon.svg"></img>
                </a>
            </li>
            <li class="navbar-text-iab footer-link-iab p-2">
                <a href="https://www.linkedin.com/company/internet-architecture-board/" rel="me">
                    <img src="/static/img/linkedin-icon.svg"></img>
                </a>
            </li>
            <li class="navbar-text-iab footer-link-iab p-2">
                <a href="https://youtube.com/playlist?list=PLC86T-6ZTP5jeMlmiwMRcJ68N5IlWpxuQ" rel="me">
                    <img src="/static/img/youtube-icon.svg"></img>
                </a>
            </li>
            <li class="navbar-text-iab footer-link-iab p-2">
                <a href="https://mastodon.online/@intarchboard" rel="me">
                    <img src="/static/img/mastodon-icon.svg"></img>
                </a>
            </li>
        </ul>
    </div>
</footer>
