<div 
    style="
        background-image: url('static/img/background-dark.jpg');
        height: 48px;
    "
></div>
<footer class="bg-navy-iab text-light py-3">
    <div class="container">
        <ul class="nav row">
            {% for item in settings.utils.FooterLinks.footer_link_items.all %}
                <li class="nav-item col-6 col-lg-auto navbar-text-iab footer-link-iab"><a class="nav-link text-light" href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <ul class="nav row">
            {% if settings.utils.SocialMediaSettings.twitter_handle %}
                    <li class="nav-item col-6 col-lg-auto navbar-text-iab footer-link-iab p-2">
                        <a class="text-light " href="https://twitter.com/{{ twitter_handle }}" role="button">
                            <img src="/static/img/twitter-icon.svg">
                        </a>
                    </li>
            {% endif %}
        <ul class="nav row">
    </div>
</footer>
