{% if self.call_to_action or self.mailing_list_signup or self.related_links.exists %}
    <div class="container highlights-wrap">
        <div class="nine">
            <div class="highlights flex">
                {% if self.call_to_action %}
                    <div class="highlight bleed-left">
                        {{ self.call_to_action.render }}
                    </div>
                {% endif %}
                {% if self.mailing_list_signup %}
                    <div class="highlight">
                        {{ self.mailing_list_signup.render }}
                    </div>
                {% endif %}
                {% if self.related_links.exists %}
                    <div class="highlight">
                        {% include "includes/related_links.html" with related_links=self.related_links.all %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
