<nav aria-label="In this section" class="bg-white col-12 col-lg-4 col-xl-3 p-3 p-lg-5">
    <h2 class="h5 text-uppercase"><a class="text-dark" href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></h2>
    <ul class="list-unstyled">
      {% for sibling in page.siblings %}
        {% if sibling.slug == page.slug %}
          <li class="mb-1">
            <a href="{{ sibling.url }}" aria-current="page">{{ sibling.title }}</a>
            {% if page.subpages %}
              <ul>
                {% for subpage in page.subpages %}
                  <li>
                    <a class="text-dark" href="{{ subpage.url }}" >{{ subpage.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% else %}
          <li class="mb-1"><a class="text-dark" href="{{ sibling.url }}">{{ sibling.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
</nav>
