# Be sure to update .dockerignore to match .gitignore
/venv/
/static/
/media/
/ietf/templates/base.html
/ietf/static/dist
/ietf/settings/local.py
/docker/database/*.gz
*.pyc
*.log
*.swp
.DS_Store
.vscode
.coverage
node_modules
coverage.xml
