beautifulsoup4==4.8.2
certifi==2020.6.20
chardet==3.0.4
Django==2.2.16
django-analytical==2.6.0
django-appconf==1.0.4
django-compressor==2.4
django-libsass==0.8
django-modelcluster==5.1
django-taggit==1.3.0
django-treebeard==4.3.1
djangorestframework==3.11.1
draftjs-exporter==2.1.7
future==0.18.2
gunicorn==19.9.0
html5lib==1.1
idna==2.10
l18n==2018.5
libsass==0.20.1
mbstrdecoder==1.0.0
mod-wsgi==4.7.1
Pillow==7.2.0
psycopg2==2.8.6
pytz==2020.1
rcssmin==1.0.6
requests==2.24.0
rjsmin==1.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.49.0
typed-environment-configuration==0.1.3
typepy==0.2.5
Unidecode==1.1.1
urllib3==1.25.10
wagtail==2.9.3
webencodings==0.5.1
Willow==1.3
XlsxWriter==1.3.3
