Django>=1.11.19,<1.12
djangorestframework>=3.8
psycopg2==2.7.5
wagtail==2.3
django-libsass==0.6
libsass==0.8.3
Pillow==5.3.0
requests==2.20.0
docutils==0.12
future==0.15.2
django-q==0.8.0
django_compressor==2.2
mod_wsgi>=4.6
