# link packages version lock down file
-c constraints.txt

Django>=2.2.19,<3
djangorestframework>=3.8
psycopg2-binary>=2.7.5
wagtail>=2.11.6,<2.12
django-libsass>=0.8
libsass>=0.8.3
future>=0.15.2
django_compressor>=2.2
mod_wsgi>=4.6
django_analytical>=2.5
tqdm>=3.7.0
wagtail-markdown
Pygments

# env var configuration
typed-environment-configuration>=0.1.3,<0.2
dj-database-url>=0.5.0,<0.6
# AWS s3 storage for static/media
django-storages[boto3]>=1.7.2,<1.8

# for database reset scripts
awscli>=1.19,<1.20
