.home_page__jumbotron {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background-color: rgba($body-color, 0.7);
    }
}

.home_page__cta-container {
    position: relative;
    &__background {
        position: absolute;
        top: -30%;
        bottom: 0;
        right: 10%;
        font-size: 18em;
        overflow: hidden;
        color: rgba(255,255,255, 0.05);
    }
}

.home_event__image {
    max-height: 6rem;

    @include media-breakpoint-up(md) {
        max-height: none;
    }
}
