{% load compress static wagtailuserbar wagtailcore_tags wagtailimages_tags ietf_tags analytical %}
{% spaceless %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>IETF {% block title %}{% if self.seo_title %} | {{ self.seo_title }}{% else %} | {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        {% if self.search_description %}
            <meta name="description" content="" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Twitter summary card - see https://dev.twitter.com/cards/types/summary -->
        <!--  and https://dev.twitter.com/cards/getting-started -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ settings.utils.SocialMediaSettings.twitter_handle }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{% social_text page wagtail_site %}">
        <meta name="twitter:image" content="{% social_image page wagtail_site %}">

        <!--facebook opengraph tags-->
        <meta property="fb:app_id" content="{{ settings.utils.SocialMediaSettings.facebook_app_id }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:image" content="{% social_image page wagtail_site %}" />
        <meta property="og:description" content="{% social_text page wagtail_site %}" />
        <meta property="og:site_name" content="{{ settings.utils.SocialMediaSettings.site_name }}" />

        {% block extra_meta %}{% endblock extra_meta %}

        {% comment %} {% compress css %}
            <link rel="stylesheet" type="text/x-scss"  href="{% static 'css/main.scss' %}" />
        {% endcompress %} {% endcomment %}

        {# these styles will only be loaded if JS is enabled -- smooth, eh? #}
        {% comment %} <script>
            document.write('{% compress css %}<link rel="stylesheet" type="text/x-scss" href="{% static 'css/jsenabled.scss' %}">{% endcompress %}');
        </script> {% endcomment %}

        {% block extra_css %}{% endblock %}

        {% comment %} <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script> {% endcomment %}

        {% analytical_head_bottom %}
    </head>

    <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
        {% analytical_body_top %}

        {% wagtailuserbar %}

        {% include "includes/header.html" %}

        {% block main_content %}
        <main role="main">
            <div class="bg-white border-bottom">
                <div class="container">
                    {% include 'includes/breadcrumbs.html' %}
                    {% block head_content %}{% endblock head_content %}
                </div>
            </div>

            {% block content %}{% endblock %}

            {% block raw_content %}{% endblock %}
        </main>
        {% endblock %}

        {% include "includes/footer.html" %}
        <script type="text/javascript">
            window.staticRoot = "{% static 'dist/' %}";
        </script>

        {% block extra_js %}{% endblock %}
        {% analytical_body_bottom %}
    </body>
</html>
{% endspaceless %}
