{% extends settings.utils.LayoutSettings.base_template %}

{% block body_class %}template-500{% endblock %}

{% block title %}- 500 - Internal server error{% endblock %}

{% block main_content %}
<main id="content">
    <div class="bg-white border-bottom">
        <div class="container pb-1">

            <nav aria-label="breadcrumbs">
                <ol class="breadcrumb bg-transparent pt-3 mb-0">
                    <li class="breadcrumb-item h5">
                        <a class="text-dark" href="/" aria-label="Home">
                            <i class="bi bi-house-door-fill"></i>
                        </a>
                    </li>
                </ol>
            </nav>


            <div class="u-max-text-width">
                <h1>HTTP Status Code: 500 Internal Server Error</h1>

                <p>Ooops, something went wrong. We are looking into it, please try again soon.</p>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="row mb-4 mt-4">
                <div class="col-md-8 col-lg-6">
                    <form class="input-group" action="{% url 'search' %}" method="GET" name="search">
                        <input id="search-box2" class="form-control" type="text" placeholder="Search"  aria-label="Search website" name="query" />
                        <button class="btn btn-primary" type="submit" aria-label="Submit website search">Go</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="container py-3 py-lg-3">
        <div class="u-max-text-width">
            <h2>Report problems</h2>
            <p>If the matter is urgent, please email <a href="mailto:support@ietf.org">support@ietf.org</a> .</p>
        </div>
    </div>

</main>

{% endblock %}
