{% load compress static wagtailuserbar wagtailcore_tags wagtailimages_tags ietf_tags %}
{% spaceless %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>IETF {% block title %}{% if self.seo_title %} | {{ self.seo_title }}{% else %} | {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        {% if self.search_description %}
            <meta name="description" content="" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Twitter summary card - see https://dev.twitter.com/cards/types/summary -->
        <!--  and https://dev.twitter.com/cards/getting-started -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ settings.utils.SocialMediaSettings.twitter_handle }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{% social_text page request.site %}">
        <meta name="twitter:image" content="{% social_image page request.site %}">

        <!--facebook opengraph tags-->
        <meta property="fb:app_id" content="{{ settings.utils.SocialMediaSettings.facebook_app_id }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:image" content="{% social_image page request.site %}" />
        <meta property="og:description" content="{% social_text page request.site %}" />
        <meta property="og:site_name" content="{{ settings.utils.SocialMediaSettings.site_name }}" />

        {% block extra_meta %}{% endblock extra_meta %}

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss"  href="{% static 'css/main.scss' %}" />
        {% endcompress %}

        {# these styles will only be loaded if JS is enabled -- smooth, eh? #}
        <script>
            document.write('{% compress css %}<link rel="stylesheet" type="text/x-scss" href="{% static 'css/jsenabled.scss' %}">{% endcompress %}');
        </script>

        {% block extra_css %}{% endblock %}

        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

    </head>

    <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">

        {% wagtailuserbar %}

        {% include "includes/header.html" %}

        {% block main_content %}
            <div class="body-white rule">
                <div class="container">
                    {% include 'includes/breadcrumbs.html' %}
                    {% block head_content %}{% endblock head_content %}
                </div>
            </div>

            <div class="body-colour" role="main">
                <div class="container less-padding">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block raw_content %}{% endblock %}

        {% endblock %}

        {% include "includes/footer.html" %}
        {% compress js %}
            <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
            <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
            <script src="{% static 'js/plugins.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
{% endspaceless %}
