<div class="my-3">
    <button
            class="d-block btn btn-link p-0 w-100 border-0 text-left"
            data-toggle="collapse"
            data-target="#{{ link_group.value.title|slugify }}"
            aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
            aria-controls="{{ link_group.value.title|slugify }}"
            aria-label="{{ link_group.value.title }} - Click to toggle"
        >
        <h3 class="h5">
            {{ link_group.value.title }}&nbsp;<span class="icon ion-ios-arrow-down"></span>
        </h3>
    </button>

    <div class="collapse{% if expanded %} show{% endif %}" id="{{ link_group.value.title|slugify }}">
        {% for link in link_group.value.link_group %}
        <span class="d-inline-block mb-2 {% if not forloop.last %}pr-2 mr-2 border-right{% endif %}">{{ link }}</span>
        {% endfor %}
    </div>
</div>
