<div class="my-3">
    <button
            class="d-block btn btn-link p-0 w-100 border-0 text-start"
            data-bs-toggle="collapse"
            data-bs-target="#{{ link_group.value.title|slugify }}"
            aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
            aria-controls="{{ link_group.value.title|slugify }}"
            aria-label="{{ link_group.value.title }} - Click to toggle"
        >
        <h3 class="h5">
            {{ link_group.value.title }}<i class="bi bi-chevron-down ps-2"></i>
        </h3>
    </button>

    <div class="collapse{% if expanded %} show{% endif %}" id="{{ link_group.value.title|slugify }}">
        {% for link in link_group.value.link_group %}
        <span class="d-inline-block mb-2 {% if not forloop.last %}pe-2 me-2 border-end{% endif %}">{{ link }}</span>
        {% endfor %}
    </div>
</div>
