<div class="my-3">
    <h3 class="h5">
        <a
            class="d-block"
            data-toggle="collapse"
            href="#{{ link_group.value.title|slugify }}"
            role="button"
            aria-expanded="{% if self.key_details_expanded %}true{% else %}false{% endif %}"
            aria-controls="{{ link_group.value.title|slugify }}"
        >
            <span>{{ link_group.value.title }} </span>
            <span class="icon ion-ios-arrow-down"></span>
        </a>
    </h3>

    <div class="collapse{% if self.key_details_expanded %} show{% endif %}" id="{{ link_group.value.title|slugify }}">
        {% for link in link_group.value.link_group %}
        <span class="d-inline-block mb-2 {% if not forloop.last %}pr-2 mr-2 border-right{% endif %}">{{ link }}</span>
        {% endfor %}
    </div>
</div>
