.header__logo-container {
    // Cancel out navbar padding
    margin-top: -$navbar-padding-y;
    margin-bottom: -$navbar-padding-y;

    background-color: $white;

    // center logo
    display: flex;
    align-items: center;
    justify-content: center;

    // size
    width: 6rem;
    height: 100%;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
        width: 9rem;
        box-sizing: content-box;
        // On this break point the navbar is on 2 lines
        height: (2 * $font-size-base * $line-height-base) // 2 line heights
            + ($nav-link-padding-y * 4) // vertical link padding
            + ($navbar-padding-y * 2) // navbar padding
            - ($navbar-brand-padding-y * 2); //
        border: 2 * $btn-border-width solid $white; // button borders height
    }

    @include media-breakpoint-up(xl) {
        height: 100%;
        box-sizing: inherit;
        border: none;
    }
}

.header__logo {
    width: 131px;
    height: 75px;
    max-width: 100%;
    max-height: 100%;
}

.nav-link,
.nav-link:hover,
.dropdown-toggle-split {
    border: none;
}

.nav-item a {
    text-decoration: none;
}

// Dropdowns displaying on hover
@include media-breakpoint-up(lg) {
    .header .navbar-nav .nav-item:hover .btn-dark {
        background-color: darken($dark, 7.5%);
    }

    .header .navbar-nav .nav-item:hover .dropdown-toggle[aria-expanded="false"] + .dropdown-menu {
        display: block;
        margin-top: 2.5em;
    }
}
