@import 'header.scss';

.block-paragraph {
    & h2,
    & h3,
    & h4 {
        margin-bottom: 1.3rem;
    }

    & h2 {
        font-size: 2rem;
        margin-top: 2rem;
        &:first-child {
            margin-top: 0;
        }
    }

    & h3 {
        font-size: 1.5rem;
    }

    & h4 {
        font-size: 1.25rem;
    }

    & h5 {
        font-size: 1rem;
    }

    p,
    li {
        font-weight: 300;
    }
}
