apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: wagtail
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: wagtail
  template:
    metadata:
      labels:
        app: wagtail
    spec:
      securityContext:
        fsGroup: 1000
        runAsNonRoot: true
      containers:
        # -----------------------------------------------------
        # wagtail Container
        # -----------------------------------------------------
        - name: wagtail
          image: "ghcr.io/ietf-tools/www:$APP_IMAGE_TAG"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          volumeMounts:
            - name: www-tmp
              mountPath: /tmp
            - name: www-nginx
              mountPath: /var/lib/nginx
            - name: www-media
              mountPath: /app/media
            - name: www-cfg
              mountPath: /app/supervisord.conf
              subPath: supervisord.conf
            - name: www-cfg
              mountPath: /app/ietf/settings/local.py
              subPath: local.py
            - name: www-cfg
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: www-cfg
              mountPath: /etc/nginx/sites-enabled/default
              subPath: nginx-default.conf
          env:
            - name: "CONTAINER_ROLE"
              value: "iabweb"
            - name: "DJANGO_SETTINGS_MODULE"
              value: "ietf.settings.production"
            # ensures the pod gets recreated on every deploy:
            - name: "DEPLOY_UID"
              value: "$DEPLOY_UID"
          envFrom:
            - configMapRef:
                name: django-config
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsGroup: 1000
      volumes:
        - name: www-tmp
          emptyDir:
            sizeLimit: "1Gi"
        - name: www-nginx
          emptyDir:
            sizeLimit: "1Gi"
        - name: www-cfg
          configMap:
            name: files-cfgmap
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
  volumeClaimTemplates:
  - metadata:
      name: www-media
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
      storageClassName: "generic"
---
apiVersion: v1
kind: Service
metadata:
  name: wagtail
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: wagtail
