{% if items %}
    <div id="bibliography" class="gradient-sharp-subtle">
        <div class="border-blue-white">
            <div class="container">
                <div class="nine body-subtle rule-blue-top">
                    <div class="body">
                        <h3>Bibliography</h2>
                        <ul class="ref">
                            {% for item in items %}
                                <li class="bibliography-item">
                                    <a name="bibliography{{ item.ordering }}"></a>
                                    <a href="{{ item.uri }}" class="bibliography-link">
                                        <div class="reference">[<span class="reference-ordering">{{ item.ordering }}</span>] <span class="reference-title">{{ item.title }}</span></div>
                                    </a>
                                    {% if item.long_title %}
                                        <div class="reference-long-title">{{ item.long_title }}</div>
                                    {% endif %}
                                    <div class="reference-cont">{{ item.content }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
