{% if items %}
    <div id="bibliography" class="u-max-text-width">
        <h2 class="h4">Bibliography</h2>
        <ul class="list-unstyled">
            {% for item in items %}
                <li>
                    <a id="bibliography{{ item.ordering }}"></a>
                    <h3 class="h5">
                        <a href="{{ item.uri }}">
                                <span class="bibliography__order">[{{ item.ordering }}]</span>{{ item.title }}
                        </a>
                    </h3>
                    <div class="pl-3">
                    {% if item.long_title %}
                        <h4 class="h6">{{ item.long_title }}</h4>
                    {% endif %}
                    <div class="small">{{ item.content }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
