{% extends "wagtailadmin/base.html" %}

{% block titletag %}{{ title }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=title icon="folder" %}
    <div class="nice-padding">
        <table class="listing">
            <thead>
                <tr class="table-headers">
                    <th>name</th>
                    <th>citation count</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        <td><a href="{% url 'referencing_pages' content_type_id object.0.id %}">{{ object.0 }}</a></td>
                        <td>{{ object.1 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
