{% extends "wagtailadmin/base.html" %}

{% block titletag %}{{ title }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=title icon="folder" %}
    <div class="nice-padding">
        <table class="listing">
            <thead>
                <tr class="table-headers">
                    <th>name</th>
                    <th>last updated</th>
                    <th>last page seen</th>
                    <th>local count</th>
                    <th>remote count</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        <td>{{ object.content_type }}</td>
                        <td>{{ object.last_updated }}</td>
                        <td>{{ object.last_page_seen }}</td>
                        <td>{{ object.local_count }}</td>
                        <td>{{ object.remote_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
