{% extends settings.utils.LayoutSettings.base_template %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block title %}Search{% endblock %}

{% block main_content %}

<main id="content">
  <div class="bg-white border-bottom">
    <div class="container pb-1">

      <nav aria-label="breadcrumbs">
        <ol class="breadcrumb bg-transparent pt-3 mb-0">
          <li class="breadcrumb-item h5">
            <a class="text-dark" href="/" aria-label="Home">
              <i class="bi bi-house-door-fill"></i>
            </a>
          </li>
        </ol>
      </nav>

      <h1>Search results for {{ SITE.hostname }}</h1>
      <p class="lead">The search results below include information from the primary public-facing website of the IETF.</p>

      <div class="row mb-4">
        <div class="col-md-8 col-lg-6">
          <form class="input-group" action="{% url 'search' %}" method="get" name="site-search">
            <input id="site-search" class="form-control" type="text" placeholder="Enter your query here" aria-label="Search site" name="query" {% if search_query %} value="{{ search_query }}" {% endif %} />
            <button class="btn btn-primary" type="submit" aria-label="Submit site search">Go</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row g-0 align-items-stretch justify-content-between">
      <div class="col-12 col-lg-8 pt-3 pt-lg-3 pe-lg-3">
        <div class="u-max-text-width pb-4">

          {% get_search_promotions search_query as search_picks %}
          {% if search_picks %}
          <h2 class="visually-hidden">Search results{% if search_query %} for "{{ search_query }}"{% endif %}</h2>
          <ul class="list-unstyled">
            {% for result in search_picks %}
            <li class="mb-4">
              <h3 class="h5">
                <a href="{% pageurl result.page %}">
                  {{ result.page }}
                </a>
              </h3>
              {% if result.description %}
                <p>{{ result.description|safe }}</p>
              {% endif %}
              {% if result.page.search_description %}
                <p>{{ result.page.search_description|safe }}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if search_results %}
          <h2 class="visually-hidden">Search results{% if search_query %} for "{{ search_query }}"{% endif %}</h2>
          <ul class="list-unstyled">
            {% for result in search_results %}
              <li class="mb-4">
                <h3 class="h5">
                  <a href="{% pageurl result %}">
                    {{ result }}
                  </a>
                </h3>
                {% if result.search_description %}
                 <p>{{ result.search_description|safe }}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>

          {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}"
              class="btn btn-primary mb-4">Previous</a>
          {% endif %}

          {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}"
              class="btn btn-primary mb-4">Next</a>
          {% endif %}

          {% elif search_query %}
            {% if not search_picks %}
              <p>No results found</p>
            {% endif %}
          {% endif %}

        </div>
      </div>

      <div class="bg-white col-12 col-lg-4 p-3 p-sm-4 py-lg-3 px-xl-5">
        <h2 class="h4">Search IETF Email Archives</h2>
        <p>Publicly-available messages from the IETF mailing list archives.</p>

        <form class="input-group" action="https://mailarchive.ietf.org/arch/search/" method="GET" target="_blank">
          <input id="side-nav-search" class="form-control" type="text" placeholder="Search the email archive" aria-label="Search IETF Email Archives" name="q" />
          <button class="btn btn-primary" type="submit" aria-label="Submit mailing list search">Go</button>
        </form>

        <h2 class="h4 mt-4">Search IETF Datatracker</h2>
        <p>IETF documents, working groups, and meetings.</p>

        <form class="input-group" action="https://datatracker.ietf.org/doc/search/" method="GET" target="_blank">
          <input id="search-datatracker" class="form-control" type="text" placeholder="Search Datatracker" aria-label="Search Datatracker" name="name" />
          <button class="btn btn-primary" type="submit" aria-label="Submit Datatracker search">Go</button>
          <input type="hidden" name="rfcs" value="on">
          <input type="hidden" name="activedrafts" value="on">
          <input type="hidden" name="by" value="group">
        </form>

      </div>
    </div>

  </div>
</main>

{% endblock %}
