{% extends settings.utils.LayoutSettings.base_template %}
{% load wagtailcore_tags %}

{% block content %}
<div class="bg-white">
    <div class="container pb-3 pt-4">
        <div class="u-max-text-width">
            <h1 class="h2">{{ self.title }}</h1>
            {{ self.intro|richtext }}
        </div>
        <form action="{% pageurl self %}" method="POST" class="row">
            <div class="col-12 col-lg-8 col-xl-6">
                {% csrf_token %}

                {% if form.errors %}
                    <p class="text-danger">There were some errors with your form. Please amend the fields highlighted below.</p>
                {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {% if field.errors %}
                                <p class="text-danger">{{ field.errors }}</p>
                            {% endif %}


                            {% if field.id_for_label %}
                                {% include "includes/form_field.html" with field=field field_id=field.id_for_label %}
                            {% else %}

                                {% include "includes/form_field.html" with field=field field_id=field.auto_id %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="{% if self.action_text %}{{ self.action_text|safe }}{% else %}Submit{%endif%}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
