$table-padding: 20px;
$border-colour: #E1E4E5;

.block-table {
    margin: 30px 0;
    overflow: scroll;
    border: 1px solid $border-colour;

    @media #{$small} {
        margin: 50px 0;
        border: 0;
        overflow: auto;
        width: calc(100% - 50px);
    }

    > table {
        width: 100%;
        display: table;
        overflow: scroll;

        @media #{$small} {
            width: calc(100% - 50px);
            overflow: auto;
        }

        > tbody {
            width: 100%;
        }
    }

    th, td {
        padding: $table-padding / 2;

        @media #{$small} { 
            padding: $table-padding;
        }
    }

    td {
        border: 1px solid $border-colour;
    }

    tr {
        width: 100%;
    }

    th {
        border: 1px solid $border-colour;
        background-color: #F5F6F6;
        text-align: left;
    }
}
