//  ==========================================================================
//  Variables
//  ==========================================================================

//Shades
$white: #fff;
$light: #F9FBFC;
$subtle-grey: #F3F5F6;
$primary: darken(#606F78, 10%);
$nav-light: #606F78;

//Colours
$highlight: rgb(46, 179, 114);
$secondary: #1762bb;
$secondary-light: #1A7DAE;
$secondary-lighter: #4DCAF2;
$secondary-dark: darken(#1762bb, 5%);
$tertiary: #FFD455;
$visited: #8E5CC8;

//Elements
$body: #333741;
$rule: #D7DBDD;

//
$custom-ease: cubic-bezier(0.230, 1.000, 0.320, 1.000);

//typefaces
$base: "montserrat", Helvetica, arial, sans-serif;
$sans: "aktiv-grotesk", "HelveticaNeue-Light", helvetica arial, sans-serif;
$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$text-max: 720px;

// Media queries
$small: "(min-width: 620px)";
$tablet: "(min-width: 850px)";
$tabletxl: "(min-width: 950px)";
$desktop: "(min-width: 1150px)";
$large: "(min-width: 1500px)";
$nav-break: "(min-width: 1300px)";
$widescreen: "(min-width: 1200px)";
