{% load i18n wagtailadmin_tags %}
<p class="link-types">
    {% for snippet, chooser in SNIPPET_TYPES.items %}
        {% if chooser.name %}
            {% if not forloop.first %} | {% endif %}
            {% if snippet_type.link_type == chooser.link_type %}
                <b>{% trans chooser.name %}</b>
            {% else %}
                <a class="snippet-choice" href="{% url 'snippet_link:chooser' snippet_type=chooser.link_type %}">{% trans chooser.name %}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
</p>
