<div class="standard-snippet">
    <label>Area charter</label>
    <h2><a href="">{{ charter.name }}</a></h2>
    <p>{{ charter.abstract }}</p>
    <small>
        {% if charter.active %}
            <span class="bold">Active</span>
        {% else %}
            <span class="bold">Not active</span>
        {% endif %}
        <span><a href="">{{ charter.area.acronym }}</a></span>

        <span class="no-border">working groups:</span>
        {% for working_group in charter.working_groups %}
            <span><a href="{{ working_group.url }}">{{ working_group.acronym }}</a></span>
        {% endfor %}
        {# <span><a href="">See all…</a></span>  #}
    </small>
</div>
