<div class="standard-snippet">
    <h2><a href="{{ rfc.url }}">{{ rfc.title }}</a></h2>
    <p class="push-down">{{ rfc.abstract|truncatechars:200 }}</p>
    <small>
        <span class="bold">RFC {{ rfc.rfc }}</span>
        <span class="no-border">was:</span>
        <span><a href="{{ rfc.url }}">{{ rfc.name }}</a></span>
        {# we include the WG email here #}
        {% if rfc.working_group.list_email %}
            <span><a class="internal mail" href="mailto:{{ rfc.working_group.list_email }}">{{ rfc.working_group.list_email }}</a></span>
        {% endif %}
    </small>
</div>
