.mailing_list_signup {
    &__container {
        position: relative;
    }
    &__background {
        position: absolute;
        top: -30%;
        bottom: 0;
        right: 10%;
        font-size: 18em;
        overflow: hidden;
        color: rgba(255,255,255, 0.05);
    }
}
