{% extends "base.html" %}


{% block main_content %}

<main>
  <div class="bg-white border-bottom pb-3">
    <div class="container">
      {% include 'includes/breadcrumbs.html' %}
      <div class="u-max-text-width">
        <h1>{{self.title}}</h1>
      </div>
    </div>
  </div>
  
  <div class="container pt-4">
    <table class="mb-4">
      {% for statement in statements %}
      <tr>
        <td class="text-nowrap align-top pr-3 pb-2 pb-lg-0">{{statement.date_published|date:"Y-m-d"}}</td>
        <td class="align-top pb-2 pb-lg-0"><a href="{{statement.url}}">{{statement.title}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>

{% endblock %}
