{% load wagtailimages_tags %}

  <li>
    {% image event.main_image height-245 as event_image %}
    <img src="{{ event_image.url }}" alt="{{ event.main_image.title }}">
    <div class="text-holder">
      <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
      <p>{{ event.introduction }}</p>
      <small>
        <span>{{ event.date }}</span>
        <span>{{ event.listing_location }}</span>
        {% if event.host %}
          <span>{{ event.host.title }}</span>
        {% endif %}
      </small>
    </div>
  </li>
