{% load wagtailimages_tags %}

<li class="card mb-2 row flex-md-row g-0 align-items-stretch">
    <div class="col-md-4">
        {% image event.main_image height-245 as event_image %}
        <img class="home_event__image u-obj-cover w-100 h-100" src="{{ event_image.url }}" alt="{{ event.main_image.title }}">
    </div>
    {# col-* classes include positioning, position static cancels that and allows the stretched link to cover the image #}
    <div class="col-md-8 position-static">
        <div class="card-body">
            <h3 class="card-title h5"><a class="stretched-link" href="{{ event.url }}">{{ event.title }}&nbsp;<span class="icon ion-ios-arrow-forward"></span></a></h3>
            <p class="card-text">{{ event.introduction }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="border-left border-secondary pl-2">
                    <span>{{ event.date }}</span>
                    <span>{{ event.listing_location }}</span>
                    {% if event.host %}
                        <span>{{ event.host.title }}</span>
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
</li>
