<!-- prettier-ignore -->
{% extends settings.utils.LayoutSettings.base_template %}
{% load bibliography %}
{% load has_tabs %}

{% block main_content %}

<main id="content">
    <div class="bg-white pb-1">
        <div class="container">
            <!-- prettier-ignore -->
            {% include 'includes/breadcrumbs.html' %}
                {% include 'includes/optional-introduction.html' with value=self %}
                {% include "includes/social_fields.html" %}
        </div>
    </div>

    <div class="bg-white">
        <div class="container">
            <div class="row g-0 align-items-start justify-content-between">
                <!-- prettier-ignore -->
                {# main content row #}
                {% has_tabs self.prepared_key_info self.prepared_in_depth as show_tabs %}
                <div class="col-12 col-lg-8 col-xl-9 pe-lg-3">
                    {% if show_tabs %}
                    <!-- prettier-ignore -->
                    {% comment %}
                    Bootstrap requires this markup (ul > li > a) to style and handle tabs properly,
                    but it is not valid from an accessibility point of view without some aria and role tweaks:
                    - the elements with role tab should be owned by the element with role tablist
                        -> because they are not a direct child some screen readers do not list the correct number of tabs.
                        Adding `aria-owns` listing the tabs should correct this.
                    - the
                    <li>
                        elements have a listitem role by default which doesn't
                        belong in a tablist but an element with role list or
                        group -> we remove the default role by adding
                        `role="presentation"` which actually sets the role for
                        this element to `none` {% endcomment %}
                        <div class="pt-3 pt-lg-3 border-top">
                            <ul
                                class="nav nav-tabs no-js-hide iab-tabs"
                                id="tabs"
                                role="tablist"
                                aria-owns="key-info-tab in-depth-tab"
                            >
                                <li
                                    class="nav-item"
                                    role="presentation"
                                >
                                    <a
                                        class="nav-link active"
                                        id="key-info-tab"
                                        data-bs-toggle="tab"
                                        href="#key-info"
                                        role="tab"
                                        aria-controls="key-info"
                                        aria-selected="true"
                                        >Key info</a
                                    >
                                </li>
                                <li
                                    class="nav-item"
                                    role="presentation"
                                >
                                    <a
                                        class="nav-link"
                                        id="in-depth-tab"
                                        data-bs-toggle="tab"
                                        href="#in-depth"
                                        role="tab"
                                        aria-controls="in-depth"
                                        aria-selected="false"
                                        >In depth</a
                                    >
                                </li>
                            </ul>
                        </div>

                        {% endif %} {# content #}
                        <div
                            class="mb-3 {% if not show_tabs %}pt-3 pt-lg-3 border-top{% endif %}"
                        >
                            <div
                                class="{% if show_tabs %}mb-3 tab-content bg-white border border-top-0 no-js-hide{% endif %}"
                            >
                                {% if self.prepared_key_info %}
                                <div
                                    id="key-info"
                                    class="u-max-text-width{% if show_tabs %} tab-pane fade show active p-3"
                                    tabindex="0"
                                    role="tabpanel"
                                    aria-labelledby="key-info-tab{% endif %}"
                                >
                                    {{ self.prepared_key_info|safe }}
                                </div>
                                <!-- prettier-ignore -->
                                {% endif %} 
                                {% if self.prepared_in_depth %}
                                <div
                                    id="in-depth"
                                    class="u-max-text-width{% if show_tabs %} tab-pane fade p-3"
                                    role="tabpanel"
                                    aria-labelledby="in-depth-tab{% endif %}"
                                >
                                    {{ self.prepared_in_depth|safe }}
                                </div>
                                {% endif %}
                            </div>
                            {% if show_tabs %}
                            <noscript>
                                <!-- prettier-ignore -->
                                <div class="u-max-text-width">
                                    {% if self.prepared_key_info %}
                                        <h2>Key Info</h2>
                                        {{ self.prepared_key_info|safe }} 
                                    {% endif %} 

                                    {% if self.prepared_in_depth %}
                                        <h2>In Depth</h2>
                                        {{ self.prepared_in_depth|safe }} 
                                    {% endif %}
                                </div>
                            </noscript>
                            <!-- prettier-ignore -->
                            {% endif %} 
                            {% bibliography self %}
                        </div>

                        {% if self.faq_items.all %}
                        <div class="u-max-text-width">
                            <h2>Frequently asked questions</h2>
                            <!-- To compensate for the 20px padding / text still lines up -->
                            <ul class="list-unstyled">
                                {% for item in self.faq_items.all %}
                                <li>
                                    <h3>{{ item.question }}</h3>
                                    <p>{{ item.answer }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- prettier-ignore -->
                        {% endif %} 

                        {% include "includes/highlight.html" %}
                    </li>
                </div>
                {# end main content row #}

                <!-- prettier-ignore -->
                {% include "includes/row_siblings_in_section.html" with page=self class="p-3 p-lg-4 mb-4" %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
