{% extends "base.html" %}
{% load bibliography %}
{% load has_tabs %}

{% block main_content %}

    <main role="main">

        <div class="bg-white border-bottom pb-3">
            <div class="container">
                {% include 'includes/breadcrumbs.html' %}
                {% include 'includes/optional-introduction.html' with value=self %}
                {% include "includes/social_fields.html" %}
            </div>
        </div>

        <div class="container">
            <div class="row no-gutters align-items-stretch justify-content-between">
                
                {# main content row #}
                <div class="col-12 col-lg-8 col-xl-9 pt-3 pt-lg-5 pr-lg-3">
                {% has_tabs self.prepared_key_info self.prepared_in_depth as show_tabs %}
                {% if show_tabs %}
                {% comment %} 
                    Bootstrap requires this markup (ul > li > a) to style and handle tabs properly,
                    but it is not valid from an accessibility point of view without some aria and role tweaks:
                    - the elements with role tab should be owned by the element with role tablist
                        -> because they are not a direct child some screen readers do not list the correct number of tabs.
                        Adding `aria-owns` listing the tabs should correct this.
                    - the <li> elements have a listitem role by default which doesn't belong in a tablist but an element with role list or group
                        -> we remove the default role by adding `role="presentation"` which actually sets the role for this element to `none`
                 {% endcomment %}
                    <ul class="nav nav-tabs text-uppercase text-center" id="tabs" role="tablist" aria-owns="key-info-tab in-depth-tab">
                        <li class="nav-item flex-grow-1" role="presentation">
                            <a class="nav-link active" id="key-info-tab" data-toggle="tab" href="#key-info" role="tab" aria-controls="key-info" aria-selected="true">Key Info</a>
                        </li>
                        <li class="nav-item flex-grow-1" role="presentation">
                            <a class="nav-link" id="in-depth-tab" data-toggle="tab" href="#in-depth" role="tab" aria-controls="in-depth" aria-selected="false">In Depth</a>
                        </li>
                    </ul>
                {% endif %}

                    {# content #}
                    <div class="mb-3" >
                        <div class="{% if show_tabs %}mb-3 tab-content bg-white border border-top-0{% endif %}">
                            {% if self.prepared_key_info %}
                                <div id="key-info" class="u-max-text-width{% if show_tabs %} tab-pane fade show active p-3" tabindex="0" role="tabpanel" aria-labelledby="key-info-tab{% endif %}">
                                    {{ self.prepared_key_info|safe }}
                                </div>
                            {% endif %}

                            {% if self.prepared_in_depth %}
                                <div id="in-depth"  class="u-max-text-width{% if show_tabs %} tab-pane fade p-3" role="tabpanel" aria-labelledby="in-depth-tab{% endif %}">
                                    {{ self.prepared_in_depth|safe }}
                                </div>
                            {% endif %}
                        </div>

                        {% bibliography self %}
                    </div>

                    {% if self.faq_items.all %}
                        <div class="u-max-text-width">
                            <h2>Frequently asked questions</h2>
                                <!-- To compensate for the 20px padding / text still lines up -->
                                <ul class="list-unstyled">
                                    {% for item in self.faq_items.all %}
                                        <li>
                                            <h3>{{ item.question }}</h3>
                                            <p>{{ item.answer }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% include "includes/highlight.html" %}

                </div>
                {# end main content row #}

                {% include "includes/row_siblings_in_section.html" with page=self %}
            </div>

        </div>

    </main>
{% endblock %}
