$font-path: "/static/fonts";

@font-face {
    font-family: 'montserrat';
    src: url('#{$font-path}/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat/montserrat-bold-webfont.otf') format('otf'),
         url('#{$font-path}/montserrat/montserrat-bold-webfont.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('#{$font-path}/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat/montserrat-light-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat/montserrat-light-webfont.otf') format('otf'),
         url('#{$font-path}/montserrat/montserrat-light-webfont.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('#{$font-path}/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat/montserrat-medium-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat/montserrat-medium-webfont.otf') format('otf'),
         url('#{$font-path}/montserrat/montserrat-medium-webfont.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('#{$font-path}/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat/montserrat-regular-webfont.otf') format('otf'),
         url('#{$font-path}/montserrat/montserrat-regular-webfont.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}
