@import 'vendor/ionicons';
@import 'variables';
@import 'mixins';
@import 'grid';


.hide {
    display: none;
}


// three tabs ====================================================================================//

.first-tab, .second-tab, .third-tab {
	display: none;
	.group-list {
		margin: 0;
	}
	&.active {
		display: block;
	}
}


// read more content ==========================================================================//


.read-more, .read-more-two {
	@include blue-outline;
	margin-bottom: 0.5em;
}

.read-more-content, .read-more-content-two {
	overflow: hidden;
	p:last-of-type {
		margin: 0 0 1.75em 0;
	}
}


// Tabs ====================================================================================//

.tabs {
	text-transform: uppercase;
	@include small;
	color: $primary;
	background: transparent;
    margin-left: -3em;
    margin-right: -3em;
    border-top: 1px solid $rule;
    @media #{$desktop} {
        border-top: none;
        margin-left: 0;
        margin-right: 0;
    }

    .template-home-page & {
        margin-left: 0;
        margin-right: 0;
    }

    &:before {
        @extend %bleed-left;
        background: $light;
        margin-left: -999em;
        position: absolute;
        height: 45px;
        width: 999em;
        border-bottom: 1px solid $rule;
    }
	li {
		list-style-type: none;
		position: relative;
		float: left;
        border-top: 1px solid transparent;
		border-bottom: 1px solid $rule;
		border-right: 1px solid $rule;
		padding: 10px;
		margin: 0;
		text-align: center;
		background: $subtle-grey;
		color: $body;
		letter-spacing: 1px;
		@include border-box;
		@include transition( all 0.25s ease 0s );

        &:first-child {
            border-left: 1px solid $rule;
            &.active {
                border-left: none;
            }
        }
		&.active {
			border-bottom: 1px solid transparent;
			// border-top: 1px solid $rule;
			background: $light;
			&.border-right {
                border-right: none;
			}
			&:first-of-type {
				//after – full bleed cover
				border-left: 1px solid $rule;
				&:after {
					content: '';
					position: absolute;
					z-index: 10;
					bottom: -2px;
					left: 0;
					height: 3px;
					width: 100%;
					background: $light;
				}
			}
			&:hover {
				background: $light;
				cursor: auto;
				letter-spacing: 1px;
			}
		}
		&:first-of-type {
			@media #{$desktop} {
				border-left: 1px solid $rule;
			}
		}
		&:hover {
			background: $light;
			cursor: pointer;
		}
	}
}

.tab-process {
	@extend .tabs;
	display: inline-block;
	margin-bottom: 0.75em;
	li {
		width: 100%;
		border: 1px solid $rule;
		border-bottom: none;
		@media #{$tablet} {
			width: auto;
			border-top: 1px solid $rule;
			border-bottom: 1px solid $rule;
			border-right: none;
			background: $light;
			padding: 10px 20px 8px;
		}
		&:hover {
			background: $white;
		}
		&:last-of-type {
			border-bottom: 1px solid $rule;
			@media #{$tablet} {
				border-right: 1px solid $rule;
			}
		}
		&.active {
			background: $secondary;
			color: $white;
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: $secondary;
			&:after {
				display: none;
			}
			&:hover {
				background: $secondary;
			}
		}
	}
}

.tab-process-content {
	@include border-box;
	margin-bottom: 1em;
	@media #{$tablet} {
		margin-bottom: 4em;
	}
	.actions {
		li {
			display: inline-block;
			border: 1px solid $secondary;
			padding: 3px 10px;
			@include small;
			@include transition( all 0.25s ease 0s );
			&:hover {
				background: $secondary;
				color: $white;
				cursor: pointer;
			}
		}
	}
}


// FAQ

.faq {
  li {
    &.answer {
      height: 0;
    }
  }
}


// blog listing
.sticky-listing {
  li {
    &:hover {
      cursor: pointer;
    }
  }
}


// No-JS-specific styles ///////////////////////////////////////////////////////////////////////////////////////////////

.nojs {
  display: none;
}

.jsonly {
  display: inherit;
}
