//  ==========================================================================
//  Mixins
//  ==========================================================================

//Vendor prefix ================================================================================//
$prefixes: (-webkit, -moz, -ms, -o);

@mixin prefix($property, $prefixes: (), $values...) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $values;
	}

	// Output standard non-prefixed declaration
	#{$property}: $values;
}

//Transition ===================================================================================//
@mixin transition( $args... ){
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin custom-transition ($time) {
	-webkit-transition: all $time cubic-bezier(0.800, 0.135, 0.370, 0.885);
	   -moz-transition: all $time cubic-bezier(0.800, 0.135, 0.370, 0.885);
	     -o-transition: all $time cubic-bezier(0.800, 0.135, 0.370, 0.885);
	        transition: all $time cubic-bezier(0.800, 0.135, 0.370, 0.885); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.800, 0.135, 0.370, 0.885);
	   -moz-transition-timing-function: cubic-bezier(0.800, 0.135, 0.370, 0.885);
	     -o-transition-timing-function: cubic-bezier(0.800, 0.135, 0.370, 0.885);
	        transition-timing-function: cubic-bezier(0.800, 0.135, 0.370, 0.885); /* custom */
}

@mixin trasnition-delay ($delay) {
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}

@mixin animation-delay ($delay){
	-webkit-animation-delay: $delay;
	animation-delay: $delay;
}

// Type sizes ===================================================================================//
@mixin xxxsmall {
	font-size: 12px;
}

@mixin xxsmall {
	font-size: 13px;
	@media #{$desktop} {
		font-size: 14px;
	}
}

@mixin xsmall {
	font-size: 14px;
	@media #{$desktop} {
		font-size: 15px;
	}
}

@mixin small {
	font-size: 15px;
	line-height: 1.2;
	@media #{$desktop} {
		font-size: 16px;
		line-height: 1.5;
	}
}

@mixin xmedium {
	font-size: 16px;
	line-height: 1.45;
	@media #{$desktop} {
		font-size: 17px;
		line-height: 1.4;
	}
}

@mixin medium {
	font-size: 16px;
	line-height: 1.45;
	@media #{$small} {
		font-size: 18px;
	}
}

@mixin big {
	font-size: 18px;
	line-height: 1.2;
	@media #{$small} {
		font-size: 20px;
	}
}

@mixin bigxl {
	font-size: 20px;
	line-height: 1.2;
	@media #{$small} {
		line-height: 1.3;
		font-size: 22px;
	}
}

@mixin large {
	font-size: 20px;
	line-height: 1.3;
	@media #{$small} {
		font-size: 24px;
		line-height: 1.4;
	}
}

@mixin xlarge {
	font-size: 23px;
	line-height: 1.1;
	@media #{$small} {
		font-size: 27px;
	}
}

@mixin x-large {
	font-size: 25px;
	line-height: 1.5;
	@media #{$small} {
		font-size: 30px;
	}
}

@mixin xxlarge {
	font-size: 29px;
	line-height: 1.1;
	@media #{$small} {
		font-size: 33px;
		line-height: 1.15;
	}
}

@mixin massive {
	font-size: 33px;
	line-height: 1.1;
	@media #{$small} {
		font-size: 44px;
		line-height: 1.25;
	}
}

//custom underline ===================================================================================//
@mixin custom-underline {
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: lighten($secondary, 25%);
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		@include transition( all 0.25s ease 0s );
	}
	&:hover {
		&:after {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}

@mixin custom-underline-light {
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: $white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		@include transition( all 0.25s ease 0s );
	}
	&:hover {
		&:after {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}

//custom underline white ===================================================================================//
@mixin custom-underline-white {
	color: $white;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: $white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		@include transition( transform 0.25s ease 0s );
	}
	&:hover {
		&:after {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}

//custom underline white ===================================================================================//
@mixin custom-underline-secondary-dark {
	@include custom-underline-white;
	color: $secondary-dark;
	&:after {
		background-color: rgba($secondary-dark, 0.5);
	}
}

//custom underline visited ===================================================================================//
@mixin custom-underline-visited {
	@include custom-underline-white;
	color: $visited;
	&:after {
		background-color: rgba($visited, 0.5);
	}
}

//custom underline colour change ===================================================================================//
@mixin custom-underline-white-yellow {
	color: $white;
	position: relative;
	@include transition( color 0.25s ease 0s );
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: $white;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		@include transition( color 0.25s ease 0s );
	}
	&:hover {
		color:$tertiary;
		&:after {
			background-color: $tertiary;
		}
	}
}

//custom line-top ===================================================================================//

@mixin custom-line-top {
	&:after {
		@media #{$tablet} {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		background-color:  rgba($white, 0.75);
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		@include transition( all 0.25s ease 0s );
		height: 3px;
		top: -5px;
		}
	}
	&:hover {
		&:after {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}

//border-right-small ============================================================================//

@mixin border-right-small {
	position: relative;
	margin-right: 7px;
	padding-right: 9px;
	&:after {
		content: '';
		background: $rule;
		width: 1px;
		height: 10px;
		position: absolute;
		top: 3px;
		right: 0;
	}
	&:last-of-type:after {
		width: 0;
	}
}

//link arrow ===================================================================================//
@mixin link-arrow-after {
	&:after {
		content: '\f3d1';
		font-family: $ionicons-font-family;
		position: relative;
		top: 2px;
		color: $secondary;
		right: -20px;
	}
}

//animation ===================================================================================//
@mixin keyframes($animation-name) {
/*
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@-ms-keyframes $animation-name {
		@content;
	}
	@-o-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
	*/
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

//Opentype ===================================================================================//

@mixin lining {
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
}

@mixin style {
	-moz-font-feature-settings: "ss01";
	-ms-font-feature-settings: "ss01";
	-webkit-font-feature-settings: "ss01";
	font-feature-settings: "ss01";
}

@mixin ligatures {
	font-variant-ligatures: no-common-ligatures;
	-moz-font-feature-settings: "liga" 0, "clig" 0;
	-ms-font-feature-settings: "liga" 0, "clig" 0;
	-webkit-font-feature-settings: "liga" 0, "clig" 0;
	font-feature-settings: "liga" 0, "clig" 0;
}

// Clear Fix ===================================================================================//
@mixin cf() {
	zoom: 1;
	&:before, &:after {
	display: table;
	content: "";
	zoom: 1;
	*display: inline;
	}
	&:after {
		clear: both;
	}
}

//border-image ===============================================================================//

@mixin border-blue-white {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		background: $secondary;
		height: 1px;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		@media #{$desktop} {
			@include gradient-sharp-secondary;
		}
	}
}

//Gradient ===================================================================================//
@mixin build-gradient($stops, $colours) {

	$gradient: (
		rgba(nth($colours,1),1) nth($stops,1),
		rgba(nth($colours,1),1) nth($stops,2),
		rgba(nth($colours,1),1) nth($stops,2),
		rgba(nth($colours,1),1) nth($stops,2),
		rgba(nth($colours,2),1) nth($stops,2),
		rgba(nth($colours,2),1) nth($stops,3)
	);

	background: -webkit-gradient(linear, left top, right top,
		color-stop(nth($stops,1) ,rgba($light,1)),
		color-stop(nth($stops,2),rgba($light,1)),
		color-stop(nth($stops,2),rgba($light,1)),
		color-stop(nth($stops,2),rgba($light,1)),
		color-stop(nth($stops,2),rgba($white,1)),
		color-stop(nth($stops,3),rgba($white,1)));

	/* Modern browsers */
	background: -webkit-linear-gradient(left, $gradient);
	background: -moz-linear-gradient(left, $gradient);
	background: -ms-linear-gradient(left, $gradient);
	background: -o-linear-gradient(left, $gradient);

	background: linear-gradient to right, $gradient;
}

@mixin gradient-sharp {
	$colours: $light, $white;

	/* Solid background fallback */
	background: nth($colours,1);

	@media #{$desktop} {
		$stops: 0%, 60%, 100%;
		@include build-gradient($stops, $colours);
	}
}

@mixin gradient-sharp-reversed {
	background: $white; /* Old browsers */
	@media #{$desktop} {
		background: -moz-linear-gradient(left,  rgba($white,1) 0%, rgba($white,1) 60%, rgba($white,1) 60%, rgba($white,1) 60%, rgba($light,1) 60%, rgba($light,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($white,1)), color-stop(60%,rgba($white,1)), color-stop(60%,rgba($white,1)), color-stop(60%,rgba($white,1)), color-stop(60%,rgba($light,1)), color-stop(100%,rgba($light,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba($white,1) 0%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($light,1) 60%,rgba($light,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba($white,1) 0%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($light,1) 60%,rgba($light,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba($white,1) 0%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($light,1) 60%,rgba($light,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba($white,1) 0%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($white,1) 60%,rgba($light,1) 60%,rgba($light,1) 100%); /* W3C */
	}
}

@mixin gradient-sharp-subtle {
	background: $subtle-grey; /* Old browsers */
	@media #{$desktop} {
		background: -moz-linear-gradient(left,  rgba($subtle-grey,1) 0%, rgba($subtle-grey,1) 60%, rgba($subtle-grey,1) 60%, rgba($subtle-grey,1) 60%, rgba($white,1) 60%, rgba($white,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($subtle-grey,1)), color-stop(60%,rgba($subtle-grey,1)), color-stop(60%,rgba($subtle-grey,1)), color-stop(60%,rgba($subtle-grey,1)), color-stop(60%,rgba($white,1)), color-stop(100%,rgba($white,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba($subtle-grey,1) 0%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($white,1) 60%,rgba($white,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba($subtle-grey,1) 0%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($white,1) 60%,rgba($white,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba($subtle-grey,1) 0%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($white,1) 60%,rgba($white,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba($subtle-grey,1) 0%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($subtle-grey,1) 60%,rgba($white,1) 60%,rgba($white,1) 100%); /* W3C */
	}
}

@mixin gradient-sharp-primary {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba($primary,1) 0%, rgba($primary,1) 30%, rgba($primary,1) 79%, rgba($primary,1) 79%, rgba($white,1) 79%, rgba($white,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($primary,1)), color-stop(79%,rgba($primary,1)), color-stop(79%,rgba($primary,1)), color-stop(79%,rgba($primary,1)), color-stop(79%,rgba($white,1)), color-stop(100%,rgba($white,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($white,1) 79%,rgba($white,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($white,1) 79%,rgba($white,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($white,1) 79%,rgba($white,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba($primary,1) 0%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($primary,1) 79%,rgba($white,1) 79%,rgba($white,1) 100%); /* W3C */
}

@mixin gradient-sharp-secondary {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba($secondary,1) 0%, rgba($secondary,1) 55%, rgba($secondary,1) 55%, rgba($secondary,1) 55%, rgba($white,1) 55%, rgba($white,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($white,1)), color-stop(100%,rgba($white,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* W3C */
	@include transition( all 0.25s ease 0s );
}

@mixin gradient-sharp-secondary-light {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba($secondary-light,1) 0%, rgba($secondary-light,1) 55%, rgba($secondary-light,1) 55%, rgba($secondary-light,1) 55%, rgba($white,1) 55%, rgba($white,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($secondary-light,1)), color-stop(55%,rgba($secondary-light,1)), color-stop(55%,rgba($secondary-light,1)), color-stop(55%,rgba($secondary-light,1)), color-stop(55%,rgba($white,1)), color-stop(100%,rgba($white,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba($secondary-light,1) 0%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba($secondary-light,1) 0%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba($secondary-light,1) 0%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba($secondary-light,1) 0%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($secondary-light,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* W3C */
	@include transition( all 0.25s ease 0s );
}

@mixin gradient-sharp-secondary-dark {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(#127190,1) 0%, rgba(#127190,1) 55%, rgba(#127190,1) 55%, rgba(#127190,1) 55%, rgba($white,1) 55%, rgba($white,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(#127190,1)), color-stop(55%,rgba(#127190,1)), color-stop(55%,rgba(#127190,1)), color-stop(55%,rgba(#127190,1)), color-stop(55%,rgba($white,1)), color-stop(100%,rgba($white,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(#127190,1) 0%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(#127190,1) 0%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(#127190,1) 0%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(#127190,1) 0%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba(#127190,1) 55%,rgba($white,1) 55%,rgba($white,1) 100%); /* W3C */
}

@mixin gradient-sharp-full {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba($secondary,1) 0%, rgba($secondary,1) 55%, rgba($secondary,1) 55%, rgba($secondary,1) 55%, rgba($secondary-lighter,1) 55%, rgba($secondary-lighter,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($secondary,1)), color-stop(55%,rgba($secondary-lighter,1)), color-stop(100%,rgba($secondary-lighter,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary-lighter,1) 55%,rgba($secondary-lighter,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary-lighter,1) 55%,rgba($secondary-lighter,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary-lighter,1) 55%,rgba($secondary-lighter,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba($secondary,1) 0%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary,1) 55%,rgba($secondary-lighter,1) 55%,rgba($secondary-lighter,1) 100%); /* W3C */
	@include transition( all 0.25s ease 0s );
}

@mixin gradient-primary-nav-light {
	background: $subtle-grey; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba($primary,1) 0%, rgba($primary,1) 73%, rgba($primary,1) 73%, rgba($primary,1) 73%, rgba($nav-light,1) 73%, rgba($nav-light,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($primary,1)), color-stop(73%,rgba($primary,1)), color-stop(73%,rgba($primary,1)), color-stop(73%,rgba($primary,1)), color-stop(73%,rgba($nav-light,1)), color-stop(100%,rgba($nav-light,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($nav-light,1) 73%,rgba($nav-light,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($nav-light,1) 73%,rgba($nav-light,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba($primary,1) 0%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($nav-light,1) 73%,rgba($nav-light,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba($primary,1) 0%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($primary,1) 73%,rgba($nav-light,1) 73%,rgba($nav-light,1) 100%); /* W3C */
}

@mixin gradient-primary-nav-light-top {
	background: $primary; /* Old browsers */
	background: -moz-linear-gradient(top,  $nav-light 0%, $nav-light 42%, $primary 42%, $primary 42%, $primary 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$nav-light), color-stop(42%,$nav-light), color-stop(42%,$primary), color-stop(42%,$primary), color-stop(99%,$primary)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $nav-light 0%,$nav-light 42%,$primary 42%,$primary 42%,$primary 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $nav-light 0%,$nav-light 42%,$primary 42%,$primary 42%,$primary 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $nav-light 0%,$nav-light 42%,$primary 42%,$primary 42%,$primary 99%); /* IE10+ */
	background: linear-gradient(to bottom,  $nav-light 0%,$nav-light 42%,$primary 42%,$primary 42%,$primary 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}


// border-box ===================================================================================//
@mixin border-box() {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

// Rotate ===================================================================================//

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
 }


//align ===================================================================================//
 @mixin vertical-align {
 	position: absolute;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 }


@mixin vertical-align-rel {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin align {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

 //flex ===================================================================================//

 @mixin flex {
 	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-wrap: wrap;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	-webkit-flex-direction: row;
 	flex-direction: row;
 }

 //btn-styles ===================================================================================//

@mixin blue-outline {
	display: inline-block;
	border: 1px solid $secondary;
	background: $light;
	padding: 7px 20px;
	margin: 0 0.25em 0.75em 0;
	@include transition( all 0.25s ease 0s );
	@media #{$tablet} {
		margin: -0.5em 0.25em 1em 0;
	}
	a {
		color: $body;
		margin: 0;
		@include transition( all 0.25s ease 0s );
	}
	&:hover {
		cursor: pointer;
		background: $secondary;
		color: $white;
		a {
			color: $white;
		}
	}
	&:after {
		content: '\f3d0';
		float: right;
		position: relative;
		top: 2px;
		padding: 0 0 0 10px;
		font-family: $ionicons-font-family;
	}
	&.swap {
		background: $secondary;
		a {
			color: $white;
		}
		&:after {
			content: '\f404';
			top: 1px;
			color: $white;
			font-size: 25px;
			line-height: 25px;
		}
		&:hover {
			background: $secondary-lighter;
			border-color: $secondary-lighter;
			a {
				color: $white;
			}
		}
	}
}

@mixin blue-btn {
	display: inline-block;
	border: 1px solid $secondary;
	background: $secondary;
	padding: 7px 20px;
	margin: 0 0 0.75em 0;
	@include transition( all 0.25s ease 0s );
	@media #{$tablet} {
		margin: -0.5em 0 1em 0;
	}
	a {
		color: $white;
		margin: 0;
		@include transition( all 0.25s ease 0s );
	}
	&:hover {
		cursor: pointer;
		background: $white;
		color: $secondary;
		a {
			color: $secondary;
		}
	}
}

// rotate-after ===================================================================================//

@mixin rotate-after {
	&:after {
		transform-origin: center;
		top: 6px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		@media #{$tablet} {
			top: 8px;
		}
	}
}

// Border radius ===================================================================================//

@mixin br ($radius: 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;
}

// border-left ===================================================================================//
 @mixin border-left {
 	margin-left: 0.5em;
 	padding-left: 0.75em;
 	border-left: 1px solid rgba($white, 0.3);
 }


// feedback ===================================================================================//
 @mixin feedback {
		.click  {
			overflow: visible;
			-webkit-transition: color 0.7s;
			transition: color 0.7s;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		.click::before {
		 	position: absolute;
		 	top: 50%;
		 	left: 50%;
		 	margin: -35px 0 0 -35px;
		 	width: 70px;
		 	height: 70px;
		 	border-radius: 50%;
		 	content: '';
		 	opacity: 0;
		 	pointer-events: none;
		}
		 .click::after {
		  	position: absolute;
		  	top: 50%;
		  	left: 50%;
		  	margin: -35px 0 0 -35px;
		  	width: 70px;
		  	height: 70px;
		  	border-radius: 50%;
		  	content: '';
		  	opacity: 0;
		  	pointer-events: none;
		}
		// events questions
		.left.click::before {
			left: 10%;
		}
		.left.click::after {
			left: 10%;
		}
		.click::before,
		.click::after {
			box-shadow: 0 0 0 2px rgba($tertiary,0.5);
		}
		.click.animate::before {
			-webkit-animation: anim-effect-ivana-1 0.5s forwards;
			animation: anim-effect-ivana-1 0.5s forwards;
		}
		.click.animate::after {
			-webkit-animation: anim-effect-ivana-2 0.5s forwards;
			animation: anim-effect-ivana-2 0.5s forwards;
		}
		@media #{$desktop} {
			.click::before,
			.click::after {
				display: none;
			}
		}
 }

 @-webkit-keyframes anim-effect-ivana-1 {
 	0% {
 		opacity: 1;
 		-webkit-transform: scale3d(0.5, 0.5, 1);
 		transform: scale3d(0.5, 0.5, 1);
 	}
 	100% {
 		opacity: 0;
 		-webkit-transform: scale3d(1.1, 1.1, 1);
 		transform: scale3d(1.1, 1.1, 1);
 	}
 }

 @keyframes anim-effect-ivana-1 {
 	0% {
 		opacity: 1;
 		-webkit-transform: scale3d(0.5, 0.5, 1);
 		transform: scale3d(0.5, 0.5, 1);
 	}
 	100% {
 		opacity: 0;
 		-webkit-transform: scale3d(1.1, 1.1, 1);
 		transform: scale3d(1.1, 1.1, 1);
 	}
 }

 @-webkit-keyframes anim-effect-ivana-2 {
 	0% {
 		opacity: 1;
 		-webkit-transform: scale3d(0.5, 0.5, 1);
 		transform: scale3d(0.5, 0.5, 1);
 	}
 	50%, 100% {
 		opacity: 0;
 		-webkit-transform: scale3d(1.2, 1.2, 1);
 		transform: scale3d(1.2, 1.2, 1);
 	}
 }

 @keyframes anim-effect-ivana-2 {
 	0% {
 		opacity: 1;
 		-webkit-transform: scale3d(0.5, 0.5, 1);
 		transform: scale3d(0.5, 0.5, 1);
 	}
 	50%, 100% {
 		opacity: 0;
 		-webkit-transform: scale3d(1.2, 1.2, 1);
 		transform: scale3d(1.2, 1.2, 1);
 	}
 }

