$border-colour: #E1E4E5;

.block-table {
    overflow: scroll;

    @media #{$small} {
        overflow: auto;
    }

    > table {
        width: 100%;
        display: table;
        overflow: scroll;

        @media #{$small} {
            overflow: auto;
        }

        > tbody {
            width: 100%;
        }
    }

    th, td {
        padding: 10px;
    }

    td {
        border: 1px solid $border-colour;
    }

    tr {
        width: 100%;
    }

    th {
        border: 1px solid $border-colour;
        background-color: #F5F6F6;
        text-align: left;
    }
}
