<ul class="list-unstyled" aria-label="Authors">
    {% for author in post.get_authors %}
        <li class="mb-3">
            <span class="d-inline-block">
                <a href="{{ author.url }}">
                    {{ author.name }}
                </a>
            </span>
            {% if author.role %}
                <span class="ms-3 ps-3 d-inline-block border-start">{{ author.role.name }}</span>
            {% endif %}
        </li>
    {% endfor %}
    {% if post.author_group.name %}
        <li class="mb-3">
            <span class="d-inline-block">{{ post.author_group.name }}</span>
            {% if post.author_group.role %}
                <span class="ms-3 ps-3 d-inline-block border-start">{{ post.author_group.role.name }}</span>
            {% endif %}
        </li>
    {% endif %}
</ul>
