{% load wagtailroutablepage_tags %}

<ul class="list-unstyled mb-0">
    {% for sibling in siblings %}
        <li class="card border-top-0 {% if sibling.slug == current.slug %}bg-white{% else %}bg-light{% endif %}">
            <div class="card-body">
                <h2 class="h4"><a class="stretched-link" href="{{ sibling.url }}">{{ sibling.title }}</a></h2>
                <p class="card-text">{{ sibling.feed_text }}</p>
                {% include "includes/blog_authors.html" with post=sibling %}
                {{ sibling.date|date:"DATE_FORMAT" }}
            </div>
        </li>
    {% empty %}
        <li class="card border-top-0 bg-light">
            <div class="card-body"><p class="card-text">No results</p></div>
        </li>
    {% endfor %}
    <li class="card border-top-0 bg-light">
        <div class="card-body">
            <a class="stretched-link" href="{% routablepageurl current.get_parent.specific 'all_entries' %}">
                Show all
            </a>
        </div>
    </li>
</ul>
