{% load wagtailcore_tags form_tags %}

{# simple checkbox #}
{% if field|widgettype == 'checkbox_input' %}
    <div class="form-check">
        {% if field.help_text %}
            {% with "class:form-check-input,aria-labelledby:"|add:field_id|add:"_help" as attr %}
                {{ field|add_attr:attr }}
            {% endwith %}
        {% else %}
            {{ field|add_attr:'class:form-check-input' }}
        {% endif %}
        <label class="form-check-label" for="{{ field_id }}">
            {{ field.label }}
            {% if field.field.required %}
                <span> *</span>
            {% endif %}
        </label>
    </div>

    {% if field.help_text %}
        <small id="{{ field_id }}_help" class="text-muted d-block">
            {{ field.help_text }}
        </small>
    {% endif %}

{# checkbox group of radio group #}
{% elif field|widgettype == 'checkbox_select_multiple' or field|widgettype == 'radio_select' %}
    <fieldset>
        <legend class="forms__fieldset_legend">
            {{ field.label }}
            {% if field.field.required %}
                <span> *</span>
            {% endif %}
            {% if field.help_text %}
                <small class="text-muted d-block">
                    {{ field.help_text }}
                </small>
            {% endif %}
        </legend>

        {{ field|add_attr:"class:list-unstyled" }}
    </fieldset>

{# other (text input, select, etc...) #}
{% else %}
    <label for="{{ field_id }}">
        {{ field.label }} {% if field.field.required %}
        <span class="required">*</span>
        {% endif %}
    </label>

    {% if field.help_text %}
        {% with "class:form-control border-primary,aria-labelledby:"|add:field_id|add:"_help" as attr %}
            {{ field|add_attr:attr }}
        {% endwith %}
    {% else %}
        {{ field|add_attr:"class:form-control border-primary" }}
    {% endif %}
    {% if field.help_text %}
        <small id="{{ field_id }}_help" class="text-muted">
            {{ field.help_text }}
        </small>
    {% endif %}
{% endif %}
